$main-font-color: #303133
$normal-font-color: #606266
$minor-font-color: #909399
$holder-font-color: #C0C4CC

$background-color: #F3F3F9
$theme-color: #f47983

$border-radius: 9px

@mixin card($horizontal: 20px, $vertical: 30px)
  margin-bottom: 15px
  background-color: white
  overflow: hidden
  padding: $horizontal $vertical
  border-radius: $border-radius

@mixin button($bg-color: $theme-color, $font-color: white, $border: 0)
  background-color: $bg-color
  padding: 7px 15px
  font-size: 12px
  color: $font-color
  cursor: pointer
  outline: none
  border: $border solid #DCDFE6
  border-radius: 3px
  box-sizing: border-box
